# Swap files
*.swp
*.swo

# Backup files
*.bak
*.tmp
*.old

# Session files
*.session

# Undodir files
*.un~

# Logs
*.log

# Neovim directories
.netrwhist
.viminfo
shada/*
shada_*

# Plugin manager directories (packer, lazy.nvim, etc.)
site/*
pack/*
plugin/*
plugged/*
lazy/*

# Language server protocol (LSP) data
.lsp
lsp_log.txt

# Node.js (if using any plugins requiring npm)
node_modules/
package-lock.json
yarn.lock

# Temporary files
*.DS_Store
Thumbs.db

# Zsh/bash history
.zsh_history
.bash_history

# Brew
*.brew
*.tar.gz
*.zip
*.xz
*.dmg

# Tmux
.tmux/*
*.tmux

# Docker
*.docker
.docker/
docker-compose.override.yml
docker-compose.yml
**/Dockerfile*
**/docker-compose.yml
docker-compose.*
